.page {
    padding: 20px;
    border-radius: 5px;
}

header, h1 {
    font-size: 78px;
    font-family: myFirstFont;
    color:rgb(0, 0, 0);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(174, 0, 255),
    0 0 82px rgb(174, 0, 255),
    0 0 92px rgb(174, 0, 255),
    0 0 102px rgb(174, 0, 255),
    0 0 151px rgb(174, 0, 255);
}

h2 {
    font-size: 64px;
    font-family: myFirstFont;
    color:rgb(0, 0, 0);
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 30px rgb(174, 0, 255),
    0 0 30px rgb(174, 0, 255),
    0 0 30px rgb(174, 0, 255),
    0 0 30px rgb(174, 0, 255),
    0 0 30px rgb(174, 0, 255);
}

h4 {
    font-size: 36px;
    font-family: mySecondFont;
    color:black;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 21px rgb(208, 255, 0),
    0 0 21px rgb(208, 255, 0),
    0 0 21px rgb(208, 255, 0),
    0 0 21px rgb(208, 255, 0),
    0 0 21px rgb(208, 255, 0);
}

p {
    text-align: center;
    font-size: 22px;
    font-family: myThirdFont;
    color:snow;
    text-shadow: 
    0 0 7px rgb(0, 0, 0),
    0 0 10px rgb(0, 0, 0),
    0 0 21px rgb(0, 0, 0),
    0 0 42px rgb(0, 0, 0),
    0 0 82px rgb(0, 255, 128),
    0 0 92px rgb(0, 255, 128),
    0 0 102px rgb(0, 255, 128),
    0 0 151px rgb(0, 255, 128);
}

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/StarshineMF.ttf);
}

@font-face {
    font-family: mySecondFont;
    src: url(../fonts/LemonMilk.otf);
}

@font-face {
    font-family: myThirdFont;
    src: url(../fonts/Vonique\ 43_D.otf);
}

body {
    background-image: url('../backgrounds/galaxy.gif');
    background-color: black;
}

div.App {
    background-image: url('../backgrounds/galaxy.gif');
}

img {
    width: 50%;
    height: 50%;
    align-items: center;
}

button {
    background-color: #fff;
    border: 2px solid blueviolet;
    color: blueviolet;
    padding: auto;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-family: myThirdFont;
    border-radius: 8px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: blueviolet;
    color: #fff;
}